.navbar {
    overflow: visible;
    font-family: Georgia, Times New Roman, serif;
  }

  .navbar a {
    font-size: 21px;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
}

  .navbar .navbar-nav .nav-link:hover {
    background-color: #95A5A6;
    color: #FDFEFE;
  }

 .navbar-top a {
   float:right;
  font-size: 18.5px;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}


.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
